build/
autom4te.cache/
buildtools/
clients/
common/
gdk/
geom/
monetdb5/
sql/
testing/
tools/


Makefile.am
Makefile.in
aclocal.m4
acout.in
configure
configure.ac
doc.lst
install.lst
monetdb_config.h.in
Makefile.msc
